.addNewButtons{
    margin-top: 1rem;
    text-align: center;
}

.user{
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.user a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.uimg:hover{
    opacity: 0.5;
}

.username:hover .uimg{
    opacity: 0.5;
}

.resMessage{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}