.card {
    font-family: 'Roboto', sans-serif;
}

.dltbtn {
    margin-top: 1rem;
}

.storyCardm {
    text-align: center;
}

.inputm {
    border-radius: 5rem;
}

.sendbut {
    margin-top: 1rem;
    border-radius: 1rem;
}

.views {
    text-align: left;
}

.vbtn {
    margin-top: 1rem;
}

.colbut1 {
    text-align: right;
}

.colbut2 {
    text-align: left;
}

.headerViews {
    text-align: center;
}

.footerViews {
    text-align: center;
}

.modal-header{
    text-align: center;
}

.buttonsDiv{
    margin-bottom: 2rem;
}

.sheader{
    text-align: left;
}