

.sbox {
    position: relative;
    margin-bottom: 2rem;
}


.sbox a {
    color: inherit;
    text-decoration: none;
}

.sbox .text:hover img{
    opacity: 1;
}

.sbox .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}

.simage {
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
    opacity: 0.25;
    transition: 0.5s;
    max-width: 600px;
    max-height: 600px;
}

.sbox:hover img {
    opacity: 1;
}

.sbox img{
    opacity: 0.5;
}