a{
    text-decoration: none;
}

.brandname{
    font-size: 3rem;
    margin-bottom: 0;
    color: #111;
    font-family: 'Lateef', cursive;
    text-align: center;
    user-select: none;
    text-decoration: none;
}

.navbarlinks{
    margin-bottom: 0;
    font-size: 1.5rem;
    color: gray;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    user-select: none;
    text-decoration: none;
}

.navbarlinks:hover, .navbarlinks:focus, .navbarlinks:active, .navbarlinks.active, .open>.dropdown-toggle.navbarlinks{
    color: black;
}

.rounded-circle
{
    margin-right: 0.5rem;
}

.navbar{
    padding: 0px !important;
}

body{    
    color: #111;
    font-family: 'Lateef', cursive;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open>.dropdown-toggle.btn-link {
    text-decoration: none;
}

.nav-link{
    text-decoration: none;
    text-align: center;
}

.navbar-nav{
    text-align: center;
}

.addButton{
    margin: 0.5rem;
}

.myContainer{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.search {
    text-align: center;
}

.search_results {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 1;
    padding: 10px;
}

.search_box {
    text-align: center;
    padding: 10px;
    color: #1b1b2b;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 14px;
}

.search_box input[type=submit] {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: white;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa,
.active-cyan-2 .fa {
    color: #4dd0e1;
}

.active-purple .fa,
.active-purple-2 .fa {
    color: #ce93d8;
}

.active-pink .fa,
.active-pink-2 .fa {
    color: #f48fb1;
}

.pagination {
    margin-top: 10px;
    user-select: none;
}

.form-inline {
    margin-top: 10px;
}

.search_field {
    margin-top: 10px;
}

.search_res {
    text-align: center;
}

.myContainer{
    font-family: 'Roboto', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.myContainer p{
    font-family: 'Roboto', sans-serif;
}

.mitem{
    text-decoration: none;
}

.mbtn{
    text-decoration: none;
}

.mlink{
    text-decoration: none;
}

.mcard{
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cardimg{
    width: auto;
    height: 100%;
}

.nomes{
    text-align: center;
}

.dltcol{
    text-align: right;
}

.colstories{
    text-align: center;
}

.colhigh{
    text-align: center;
}

.hcard{
    text-align: center;
}

.imageh{
    max-width: 100%;
    height: auto;
}

.storiesRow{
    text-align: center;
}

#storiesRendered{
    text-align: center;
}

.highlightcard{
    margin-bottom: 2rem;
}
