.user{
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
}

.editbtn{
    border: 2px solid;
    border-color: black;
    color: black;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    border: 2px solid;
    border-color: black;
}

.viewButton{
    border: 2px solid;
    border-color: black;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.viewButtons{
    text-align: center;
}

.userImage{
    text-align: center;
}

.userImage img{
    margin-bottom: 1rem;
}

.addNewButtons{
    text-align: center;
}

a{
    text-decoration: none;
}

.buttons{
    margin-top: 1rem;
}

.tipTg{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.titlesthg{
    text-align: center;
    margin-bottom: 1rem;
}