.hstories{
    margin-bottom: 2rem;
}

.stitle{
    text-align: center;
}

.highlightcard{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttonsDiv{
    margin-bottom:1rem;
}

.colbut1{
    text-align: right;
}

.colbut2{
    text-align: left;
}