.regButton{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.text{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

