.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    border: 2px solid;
    border-color: black;
}

.highlight{
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    text-align: center;
}

.updateButton{
    text-align: center;
}

.userImage{
    text-align: center;
}

.userImage img{
    margin-bottom: 1rem;
}

.picUpdate{
    text-align: center;
}

.btn-file {
    margin-bottom: 1rem;
    border: 2px solid;
    color: black;
    border-color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}